
<div class="uk-border-rounded uk-card uk-card-default uk-card-body uk-flex-center uk-align-center uk-width-large">
    
    <center><h3><i class="fas fa-check-circle fa-3x uk-alert-success"></i></h3>
    <h4>We've added your favorite activity!</h4>
    </center>
    <a href="/places/<%= @places[:id] %>" class="uk-button uk-button-secondary uk-border-pill uk-width-1-1">Back to <%= @places[:city] %> page</a>

</div>
