
<div class="uk-border-rounded uk-card uk-card-default uk-card-body uk-flex-center uk-align-center uk-width-large">
    
    <center><h3><i class="fas fa-times-circle fa-3x uk-alert-danger"></i></h3>
    <h4>Oh no! Looks like an account already exists under the email you provided. Try again with a new email.</h4>
    </center>
    <a href="/users/create_user" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">Create an account</a>

</div>
