
<div class="uk-border-rounded uk-card uk-card-default uk-card-body uk-flex-center uk-align-center uk-width-large">
    
<h3><center><i class="fas fa-key"></i> Login</center></h3>
    
    <h5><center>Enter your credentials to login to your account.</center></h5>
    
<form action="/logins/create" class="body-text" method="post" >
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <div class="uk-form-controls uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                <input type="email" class="uk-input uk-border-pill" placeholder="Email - name@example.com" name="email">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-form-controls uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input type="password" class="uk-input uk-border-pill"  placeholder="Password" name="password">
            </div>
        </div>
        
    </fieldset>
  <button type="submit" class="uk-button uk-button-primary uk-border-pill  uk-width-1-1">Login</button>
</form>
</div>
