
<div class="uk-border-rounded uk-card uk-card-default uk-card-body uk-flex-center uk-align-center uk-width-medium">
    
    <center><h3><i class="fas fa-check-circle fa-3x uk-alert-success"></i></h3>
    <h4>You've successfully logged in.</h4>
    </center>
    <a href="/" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">See Places</a>

</div>
